@model MvcProject.Bll.ViewModels.Artist.ArtistBaseViewModel
@{
    string id = "artist" + Model.Id;
    string containerId = "artist_container" + Model.Id;
    string name = id + "name";
}

<div id="@containerId" style="width:150px; margin:auto; margin-top:5px; height: 200px;" onclick="window.location.href='@Url.Action("Details", new { id = Model.Id })'">
    @Html.Action("Picture", new { id = Model.PictureId })
    <p class="text-center" id="@name">
        @Model.Name
    </p>
</div>


