@model MvcProject.Bll.ViewModels.Artist.ArtistShowViewModel
@{
    ViewBag.Title = "Details";
    string path = string.IsNullOrEmpty(Model.PicturePath) ? "/Pictures/Default/default-1.jpg" : Model.PicturePath;
}
@Scripts.Render("~/bundles/relations")
@Scripts.Render("~/bundles/autocomplete")
@Scripts.Render("~/bundles/tags")
@Styles.Render("~/Content/Custom/TagEdit.css")

<script>
    $(document).ready(function () {
        artistId = @Model.Id;
    });
</script>
<div style="overflow: hidden; margin-top: 10px">
    <img src="@path" width="150" height="150" style="float:left; margin:10px" />
    <h2>
        @Html.DisplayFor(model => model.Name)
    </h2>
    <h3>
        @if (!string.IsNullOrEmpty(Model.Aliases))
        {
            @:(
            @Model.Aliases
            @:)
        }
    </h3>
    @Html.Action("Tags", new { id = Model.Id })
    <h4>
        @if (Model.Interval.StartDate.HasValue)
        {
            @Html.Label(Model.Interval.StartDate.Value.Year.ToString());
            @:-
            if (Model.Interval.EndDate.HasValue)
            {
                @Html.Label(Model.Interval.EndDate.Value.Year.ToString())
            }
            else
            {
                @Html.Label("present")
            }
        }
        else
        {
            if (Model.Interval.EndDate.HasValue)
            {
                @Html.Label("unknown");
                @:-
                @Html.Label(Model.Interval.EndDate.Value.Year.ToString())
            }
        }
    </h4>
</div>
<div>
    <h5>
        @Html.DisplayTextFor(model => model.Description)
    </h5>
</div>
<div class="container">
    @Html.Action("RelationChoices", "Artist", new { id = Model.Id })
    @Html.Action("RelationMembers", "Artist", new { artistId = Model.Id, relationId = 0 })
</div>




